@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
/*****************************************************************************
Variables.scss

Variables permettant de centraliser/personnaliser l'aspect visuel du site
/******************************************************************************/
/******************************************************************************/
/******************************* Variables Sass    ******************************/
/******************************************************************************/
#css-overrides .red {
  color: #ff425f;
}

#css-overrides .yellow {
  color: #f78502;
}

#css-overrides .green {
  color: #589935;
}

/******************************************************************************/
/******************************* Media breakpoints*****************************/
/******************************************************************************/
/*****************************************************************************
animations.scss

Helpers gestion des animations CSS
/******************************************************************************/
.js-Page-Loading *,
.js-Page-Loading *:before,
.js-Page-Loading *:after {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeInBio {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes FadeInBio {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*****************************************************************************
text-styles.scss

Définition de styles de textes 

/******************************************************************************/
/******************************************************************************/
/************ Styles de titres
/******************************************************************************/
#css-overrides h1 {
  font-family: "Roboto Condensed";
  font-size: 36px;
  color: #625e5d;
  font-weight: bold;
}

#css-overrides h2,
#css-overrides h3 {
  font-family: "Roboto Condensed";
  font-size: 24px;
  color: #f78502;
  font-weight: normal;
}

#css-overrides h3 {
  font-size: 20px;
  font-weight: bold;
}

#css-overrides h4 {
  font-size: 16px;
  color: #f78502;
  font-weight: normal;
}

/******************************************************************************/
/************ Style de textes
/*****************************************************************************/
#css-overrides p,
#css-overrides ul,
#css-overrides a {
  font-family: "Roboto Condensed";
  font-size: 16px;
  color: #625e5d;
  font-weight: normal;
}

a {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

a:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

a:hover {
  text-decoration: none;
}

#css-overrides ul {
  list-style-type: none;
  padding-left: 0px;
}

.ul-dash {
  list-style-type: "- " !important;
}

#css-overrides li {
  margin-top: 10px;
}

.muted {
  color: #625e5d;
}

/*****************************************************************************
bootstrap.scss

Surcharge des styles spécifiques à Bootstrap
/******************************************************************************/
/******************************************************************************/
/******************************* Bootstrap container/
/******************************************************************************/
@media (min-width: 200px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

@media (min-width: 576px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}

@media (min-width: 992px) {
  #css-overrides .container-lg {
    width: 900px;
  }
}

#css-overrides .container-fluid {
  padding: 0px;
}

/******************************************************************************/
/************ Images
/*****************************************************************************/
.header-img {
  width: 100%;
  height: 200px;
}

.img-profile {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.thumbnails {
  width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .thumbnails {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.img-media-icon {
  width: 20px;
  height: 20px;
}

/******************************************************************************/
/************ Corps de la page
/*****************************************************************************/
#css-overrides {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
}

#css-overrides .container-lg {
  background-color: #d2d2d2;
}

/******************************************************************************/
/************ Section Bio
/*****************************************************************************/
#section-bio-header {
  height: 200px;
  background-color: #d2d2d2;
  z-index: 2;
}

#section-bio-header-content {
  -webkit-animation: 1s ease-out 0s 1 FadeInBio;
          animation: 1s ease-out 0s 1 FadeInBio;
  position: relative;
  top: 125px;
  height: 200px;
  width: 100%;
  background-color: transparent !important;
}

#section-bio-header-text {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  #section-bio-header-text {
    background-color: whitesmoke;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
}

#section-bio-banner {
  z-index: 1;
  height: 500px;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, 540px;
}

/******************************************************************************/
/************ Section Compétences
/*****************************************************************************/
#section-competences {
  background-color: #231f22;
  height: 100%;
  height: auto;
}

#section-competences-code {
  background-color: #2e2a2e !important;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  position: relative;
  left: 5%;
  width: 100%;
  height: 100%;
  height: auto;
}

@media (max-width: 992px) {
  #section-competences-code {
    left: 0px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }
}

.animerMargeCompetences {
  left: 8% !important;
}

@media (max-width: 992px) {
  .animerMargeCompetences {
    Left: 0px !important;
  }
}

#section-competences-code-lines {
  background-color: #2e2a2e;
  width: 60px;
  height: 100%;
  height: auto;
  border-right: solid 1px #625e5d;
}

#section-competences-code-lines p {
  margin-left: 20px;
  margin-right: 5px;
  color: #625e5d;
  font-size: 16px;
}

#section-competences-contenu {
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-left: 5%;
  -webkit-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
  height: 100%;
  width: 75%;
  -ms-flex-preferred-size: unset;
      flex-basis: unset;
}

@media (max-width: 992px) {
  #section-competences-contenu {
    width: 80%;
    padding-left: 0px;
    margin-left: 25px;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
}

@media (max-width: 576px) {
  #section-competences-contenu {
    width: 65%;
  }
}

#section-competences-contenu ul {
  opacity: 0.7;
  color: #fcfcfa;
}

.animerCompetences {
  margin-left: 5% !important;
  width: 80% !important;
}

.animerCompetences ul {
  opacity: 1 !important;
}

@media (max-width: 768px) {
  .animerCompetences {
    margin-left: 35px !important;
  }
}

@media (max-width: 576px) {
  .animerCompetences {
    width: 65% !important;
  }
}

/******************************************************************************/
/************ Section Réalisations
/*****************************************************************************/
#section-realisations {
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: #d2d2d2;
  height: 100%;
  opacity: 0.5;
}

#section-realisations h3 {
  color: #589935;
}

/******************************************************************************/
/************ Section Expériences de travail
/*****************************************************************************/
#section-experiences {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fcfcfa;
  height: 100%;
}

#section-experiences h3 {
  color: #625e5d;
}

#section-experiences h4 {
  color: #589935;
}

#section-experiences p {
  text-decoration: underline;
}

#section-experiences .container-lg {
  background-color: #fcfcfa;
}

/******************************************************************************/
/************ Footer
/*****************************************************************************/
#css-overrides footer {
  padding-top: 30px;
  height: 400px;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, 540px;
}

#css-overrides footer .container-lg {
  background-color: transparent !important;
}
/*# sourceMappingURL=style.css.map */