@charset "iso-8859-1";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');


@import "_css/variables";
@import "_css/animation";
@import "_css/text-styles";
@import "_css/bootstrap";


/******************************************************************************/
/************ Images
/*****************************************************************************/

.header-img {
    width: 100%;
    height: 200px;
}

.img-profile {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.thumbnails {
    //  max-width: 300px;
    width: 100%;
    height: auto;

    @media (max-width: $sm) {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.img-media-icon {
    width: 20px;
    height: 20px;
}

/******************************************************************************/
/************ Corps de la page
/*****************************************************************************/

#css-overrides {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    //@include quickFadeInAnimation();
}

#css-overrides .container-lg {
    background-color: $grayBgColor;
}



/******************************************************************************/
/************ Section Bio
/*****************************************************************************/

//Entete grise
#section-bio-header {
    //display: none;
    height: 200px;
    z-index: 2;

}

//Contenu de l'entete: photo profil et liens
#section-bio-profile {
    animation: 0.5s ease-in 0s 1 FadeInBio;
    position: relative;
    top: 125px;
    height: 200px;
    width: 100%;
    opacity: 1;

    background-color: transparent !important; //TODO remove hack
}

//Entete court texte de présentation
#section-bio-profile-text {
    //transition: all 0.5s;

    @media (max-width: $md) {
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: 0.8;
        height: 600px; //une taille élevé, le dépassement est couvert par la section compétence
        background: linear-gradient(0deg, rgba(202, 220, 244, 1) 0%, rgba(202, 220, 244, 1) 41%, rgba(202, 220, 244, 0) 100%);
    }
}

//Tagline dans la section bio
#css-overrides .bio-tagline{
    font-size: 18px;
    padding-top:14px;
    color: $mainTitleColor;
}

//Image d'entete
#section-bio-bg-pict {
    z-index: 1;
    height: 600px;
    @include bgImage('img/background2.jpg');

}


/******************************************************************************/
/************ Section Compétences
/*****************************************************************************/

//Conteneur avec arierre plan foncé
#section-competences {
    background-color: $darkBgColor;
    height: 100%;
    height: auto;
    // opacity: 0.75;
    width: 100%;

}

//Conteneur avec arriere plan pale
#section-competences-textarea {
    background-color: $mediumDarkBgColor !important;
    transition: left ease-in-out 0.5s;
    position: relative;
    left: 5%;
    width: 100%;
    height: 100%;
    height: auto;

    li {margin-top: 10px;}

    ul {
        margin-top: 15px;
    }

    @media (max-width: $lg) {
        left: 0px;
        transition: left 0.5s;
    }
}

.animerMargeCompetences {
    left: 5% !important;

    @media (max-width: $lg) {
        Left: 0px !important;
    }
}

//Conteneur où est affichée la marge avec no de lignes
#section-competences-textarea-marge {
    background-color: $mediumDarkBgColor;
    width: 60px;
    height: 100%;
    height: auto;
    border-right: solid 1px $mainTextColor;

    p {
        margin-left: 20px;
        margin-right: 5px;
        color: $mainTextColor;
        font-size: 16px;
    }
}

//Contenu en tant que tel de la section competence 
#section-competences-contenu {
    transition: all 0.5s !important;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-left: 5%;
    transition: padding-left 0.5s;
    height: 100%;
    width: 78%;
    flex-basis: unset;

    @media (max-width: $lg) {
        width: 80%;
        margin-left: 5px;
        flex-basis: unset;
    }

    @media (max-width: $sm) {
        width: 65%;
    }

    ul {
        opacity: 0.7;
        color: $highlightTextColor;
    }
}

.animerCompetences {
    margin-left: 6% !important;
    width: 80% !important;

    ul {
        opacity: 1 !important;
    }

    @media (max-width: $md) {
        margin-left: 15px !important;
    }

    @media (max-width: $sm) {
        width: 65% !important;
    }
}


/******************************************************************************/
/************ Section Réalisations
/*****************************************************************************/
#section-realisations {
    // transition: all 0.5s;
    padding-top: 30px;
    padding-bottom: 175px;
    background-color: $grayBgColor;
    height: 100%;
    opacity: 0.5;

    ul {
        color: $darkBgColor;
    }

    h3 {
        color: $green;
    }
}

//Responsive, permet d'éviter changements de positions brutes lors
//de redimensionnement de page
#section-realisations :first-child {
    // transition: all 0.5s;
}

/******************************************************************************/
/************ Section Expériences de travail
/*****************************************************************************/

#section-experiences {
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: $white;
    height: 100%;

    ul {
        color: $darkBgColor;
    }

    h3 {
        //color: $mainTextColor;
    }

    h4 {
        color: $green;
        font-weight: bold;
    }

    p {
        // text-decoration: underline;
        color: $mainTextColor;
    }

    .container-lg {
        background-color: $white;
    }
}

//Responsive, permet d'éviter changements de positions brutes lors
//de redimensionnement de page
#section-experiences :first-child {
    // transition: all 0.5s;
}

/******************************************************************************/
/************ Footer
/*****************************************************************************/
#css-overrides footer {
    //background-color: $grayBgColor;
    height: 400px;
    padding-top: 30px;

    .container-lg {
        background-color: transparent !important; //TODO remove hack
    }

    @include bgImage('img/background2.jpg');

    @media (max-width: $lg) {
        text-align: center;
    }

    text-align: center;

}