@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
/*****************************************************************************
Variables.scss

Variables permettant de centraliser/personnaliser l'aspect visuel du site
/******************************************************************************/
/******************************************************************************/
/******************************* Variables Sass    ******************************/
/******************************************************************************/
/******************************************************************************/
/******************************* Media breakpoints*****************************/
/******************************************************************************/
/*****************************************************************************
text-styles.scss

Définition de styles de textes 

/******************************************************************************/
/******************************************************************************/
/************ Styles de titres
/******************************************************************************/
#css-overrides h1 {
  font-family: "Roboto Condensed";
  font-size: 36px;
  color: #625e5d;
  font-weight: bold;
}

#css-overrides h2,
#css-overrides h3 {
  font-family: "Roboto Condensed";
  font-size: 24px;
  color: #f78502;
  font-weight: normal;
}

#css-overrides h3 {
  font-size: 20px;
  font-weight: bold;
}

/******************************************************************************/
/************ Style de textes
/*****************************************************************************/
#css-overrides p, #css-overrides ul, #css-overrides a {
  font-size: 12px;
  color: #625e5d;
  font-weight: normal;
}

#css-overrides ul {
  list-style-type: none;
}

#css-overrides li {
  margin-top: 10px;
}

/*****************************************************************************
animations.scss

Helpers gestion des animations CSS
/******************************************************************************/
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*****************************************************************************
bootstrap.scss

Surcharge des styles spécifiques à Bootstrap
/******************************************************************************/
/******************************************************************************/
/******************************* Bootstrap container/
/******************************************************************************/
@media (min-width: 200px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

@media (min-width: 576px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}

@media (min-width: 992px) {
  #css-overrides .container-lg {
    width: 900px;
  }
}

#css-overrides .container-fluid {
  padding: 0px;
}

/******************************************************************************/
/************ Éléments de page
/*****************************************************************************/
.header-img {
  width: 100%;
  height: 200px;
}

.img-profile {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.img-media-icon {
  width: 20px;
  height: 20px;
}

/******************************************************************************/
/************ Corps de la page
/*****************************************************************************/
#css-overrides {
  overflow-y: scroll;
  background-color: white;
}

#css-overrides .container-lg {
  background-color: #d2d2d2;
}

/******************************************************************************/
/************ Section Bio
/*****************************************************************************/
#section-bio-header {
  height: 200px;
  background-color: #d2d2d2;
  z-index: 2;
}

#section-bio-header-content {
  position: relative;
  top: 125px;
  height: 200px;
  width: 100%;
  background-color: transparent !important;
}

#section-bio {
  z-index: 1;
  height: 400px;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center, 540px;
}

/******************************************************************************/
/************ Section Compétences
/*****************************************************************************/
/******************************************************************************/
/************ Section Réalisations
/*****************************************************************************/
/******************************************************************************/
/************ Section Expériences de travail
/*****************************************************************************/
/******************************************************************************/
/************ Section Contact
/*****************************************************************************/
/*# sourceMappingURL=style.css.map */