
/******************************************************************************/
/************ Section Bio
/*****************************************************************************/

#section-bio{
    background-color: $bg-blue;
}

//Contenu de l'entete: photo profil et liens
#section-bio-profile {
    animation: 0.5s ease-in 0s 1 FadeInBio;
   
    height: 100%;
    width: 100%;
    opacity: 1;

    //background-color: $bg-peach !important;
}


.text-bio{
    width: 40%;
    //margin-left: auto;
}

.bio-header {
    @extend .float-box;
    margin-top: 100px;
    padding-bottom: 30px;
    background-color: $bg-blue !important;
    box-shadow: none !important;

    //border-bottom: 2px solid $line-accent;    
}

/* #bio-tagline {
    padding-bottom: 30px;
    margin-bottom: 200px !important;
    //border-bottom: 2px solid $line-accent;

    background-color: $bg-blue !important;
    p{
        font-family: $mainFontFamilly;
        font-size: 18px;
        color: $mainTextColor;
        font-weight: normal;
    }
} */





