/*****************************************************************************
text-styles.scss

Définition de styles de textes 

/******************************************************************************/



/******************************************************************************/
/************ Styles de titres
/******************************************************************************/

#css-overrides h1 {
    font-family: $mainFontFamilly;
    font-size: $size-title-blog;
    color: $mainTitleColor;
    font-weight: bold;
}

#css-overrides h2
{
    @extend h1;
    font-size: $size-title-section;
    color: $mainSubTitleColor;
    font-weight: normal;
}

#css-overrides h3 {
    @extend h2;
    font-size: $mainSectionTitleSize;
    font-weight: normal;
    //margin-bottom: $elementStdMargin;
}

#css-overrides h4 {
    font-size: $mainTextSize;
    color: $mainSubTitleColor;
    font-weight: normal;
    //text-decoration: underline;
}



/******************************************************************************/
/************ Style de textes
/*****************************************************************************/

#css-overrides p{
    font-family: $mainFontFamilly;
    font-size: $mainTextSize;
    color: $mainTextColor;
    font-weight: normal;
}

#css-overrides p,
#css-overrides ul,
#css-overrides a {
    font-family: $mainFontFamilly;
//  font-size: $mainTextSize;
 //0   color: $darkBgColor;
    font-weight: normal;
}

a{
    @include opacityFadeOnHover(0.7);

    &:hover{
        text-decoration: none;
    }
}

#css-overrides .smallText{
    font-size: $mainTextSmall;
}


#css-overrides ul {
    list-style-type: none;
    padding-left: 0px;
}

#css-overrides li {
    margin-top: 15px;
}


#css-overrides .ul-code-subsection {
    //border-left: solid 1px $mutedTextColor;
    //list-style-type:circle !important;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;

    li{
        margin-left: 0px;
    }
    /*     margin-left: 7px;
    border-left: 1px $mainTextColor solid;

    li{
        margin-left: 10px;
    } */
}



.ul-dash {
    list-style-type:circle!important;
    //margin-left: 7px;

    li{
        margin-left: 20px;
    }
}


#css-overrides li .muted {
    color : $mutedTextColor !important;
}

#css-overrides .underlined {
    text-decoration: underline;
    &:hover{
        text-decoration: underline;
    }
}