/*****************************************************************************
Variables.scss

Variables permettant de centraliser/personnaliser l'aspect visuel du site
/******************************************************************************/


/******************************************************************************/
/******************************* Variables Sass    ******************************/
/******************************************************************************/


$mainFontFamilly : "Roboto Condensed";

//Taille
$size-h1title: 36px; 
$size-h2subtitle: 30px; 
$size-h3block: 20px; 
$mainTextSize: 18px;
$mainTextSmall: 13px;

//Couleurs principales
$mainTitleColor : rgb(98, 94, 93);
$mainSubTitleColor : rgb(98, 94, 93);
$mainTextColor : rgb(98, 94, 93);
//$mainTextColor : rgb(112, 107, 106);
$mutedTextColor : rgb(160, 153, 151);

//Section Code:
$codeTextColor : rgb(252,252,250);
$codeMutedTextColor : rgb(124, 121, 120);

//background-colors
$bg-peach: rgb(246,239,231);
$bg-blue: rgb(213, 221,223);
$bg-gray:  rgb(46, 42, 46);

//accentcolors
$line-accent: #625e5d82;


//Marges
$elementStdMargin: 30px;


//Couleurs 
$green : rgb(88, 153, 53);
$red: rgb(255, 66, 95);
$yellow: rgb(247, 133, 2);
$white: rgb(252,252,250);


/******************************************************************************/
/******************************* Media breakpoints*****************************/
/******************************************************************************/

//Reprend les conventions de noms et valeurs de bootstrap
$xs : 200px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//Taille du conteneur principal de la page
$mainContainerWidth : 900px;