/*****************************************************************************
Variables.scss

Variables permettant de centraliser/personnaliser l'aspect visuel du site
/******************************************************************************/


/******************************************************************************/
/******************************* Variables Sass    ******************************/
/******************************************************************************/

//H1
$mainFontFamilly : "Roboto Condensed";
$mainTitleSize : 36px;
$mainSubTitleSize : 24px;
$mainSectionTitleSize : 20px;
$mainTextSize: 16px;
$mainTextSmall: 13px;


//Couleurs 
$mainTitleColor : rgb(98, 94, 93);
$mainSubTitleColor : rgb(247, 133, 2);
$mainTextColor : rgb(98, 94, 93);
$mutedTextColor : rgb(124, 121, 120);
$highlightTextColor : rgb(252,252,250);

$grayBgColor: rgb(210, 210, 210);
$blueBgColor: #cadcf4;
$mediumDarkBgColor: rgb(46, 42, 46);
$darkBgColor: rgb(35,31,34);

$green : rgb(88, 153, 53);
$red: rgb(255, 66, 95);
$yellow: rgb(247, 133, 2);
$white: rgb(252,252,250);

//Classes raccourcis
#css-overrides .red {
    color: $red;
}

#css-overrides .yellow {
    color: $yellow;
}

#css-overrides .green {
    color: $green;
}

/******************************************************************************/
/******************************* Media breakpoints*****************************/
/******************************************************************************/

//Reprend les conventions de noms et valeurs de bootstrap
$xs : 200px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//Taille du conteneur principal de la page
$mainContainerWidth : 900px;